.add-client-contact {
  .add-client-contact__container {
    display: flex;
    align-items: center;
  
    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  }
}
