.goals-database-goals {
  .goals-database-goals__container {
    display: flex;
    align-items: center;

    .goals-database-goals__table__cell {
      height: 100%; 
    }
  
    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  
    .gha__modulecard {
      margin: 15px;
    }
  }
}
