.Trainer {
    .Trainer__container {
      display: flex;
      align-items: center;
  
      .Trainer__table__cell {
        height: 100%; 
      }
    
      .row {
        display: flex;
      }
  
      .row--center {
        justify-content: center;
      }
    
      .gha__modulecard {
        margin: 55px;
      }
    }
  }
  