.life-skills-notes {
  .life-skills-notes__container {
    display: flex;
    align-items: center;

    .life-skills-notes__table__cell {
      height: 100%; 
    }
  
    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  
    .gha__modulecard {
      margin: 15px;
    }
  }

  &__actions {
    .gha__button {
      margin-right: 10px;
    }
  }
}

.life-skills-notes__add-note {
  textarea {
    width: 100%
  }
}