.database-task {
  .database-task__container {

    .database-task__submit-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }

    textarea {
      width: 100%;
    }

    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  }
}
