@media (min-width: 1200px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
}

.dashboard__container {
  padding: 2% 5%;
  max-width: 1200px;
  width: 100%;
}

.navbar__logo {
  height: 32px;
}

.navbar__popover {
  margin-top: 10px;
}

.module-cards__container {
  display: flex;
  align-items: center;

  .row {
    display: flex;
  }

  .row--center {
    justify-content: center;
  }

  .gha__modulecard {
    margin: 15px;
  }
}