.add-seizure-log {
  .add-seizure-log__container {
    .add-seizure-log__submit-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    textarea {
      width: 100%;
    }
    .row {
      display: flex;
    }
    .row--center {
      justify-content: center;
    }
  }
}
