.clients {
  .clients__container {
    display: flex;
    align-items: center;
  
    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  
    .gha__modulecard {
      margin: 15px;
    }
  }
}
