.add-medication {
  .add-medication__container {
    .add-medication__submit-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    .gha__form-group--width-100 {
      width: 100%;
    }

    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  }
}
