.staff-witness {
  .staff-witness__container {
    display: flex;
    align-items: center;

    .staff-witness__table__cell {
      height: 100%; 
    }
  
    .row {
      display: flex;
    }

    .row--center {
      justify-content: center;
    }
  
    .gha__modulecard {
      margin: 55px;
    }
  }
}
